html {
  box-sizing: border-box;
  height: 100%;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
body{
  padding: 0;
  margin: 0;
  background-color: #0c2e16;
  font-size: 16px;
  line-height: 1.5;
  font-family: "Roboto", "Arial", sans-serif;
  color: #fff;
}
.container{
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  color: #999;
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  transition: color 0.3s ease;
  
  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;
  
  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;
  
  /* Support for IE. */
  font-feature-settings: 'liga';
}
img{
  width: 100%;
  height: auto;
}
.cinema-ticket{
  padding: 20px;
  border-radius: 5px;
  background-color: #070718;
}
.form-header{
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #999;
}
.film-info{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 270px;
}
.film-info h2{
  margin: 0;
  margin-right: 10px;
  font-size: 20px;
}
.film-info span{
  display: block;
  padding: 2px 4px;
  border-radius: 3px;
  font-size: 11px;
  font-weight: bold;
  background-color: #999;
  text-transform: uppercase;
}
.cinema-name{
  color: #999;
  font-size: 14px;
  text-transform: capitalize;
  margin: 0;
}
.film-time{
  font-size: 14px;
  font-weight: 500;
  margin: 12px 0;
}
.close-button{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 36px;
  height: 36px;
  background-color: transparent;
  border: 1px solid #999;
  border-radius: 50%;
  cursor: pointer;
  transition: border 0.3s ease;
}
.close-button:hover{
  border: 1px solid #fff;
}
.close-button:hover .material-icons{
  color: #fff;
}
/* End of form header */
.form-main{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 40px 0;
}
.film-image{
  width: 600px;
  height: 120px;
  transform: perspective(1000px) rotateX(-40deg);
}
.seats{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  transform: perspective(1000px) rotateX(40deg);
}
.seat-row{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 600px;
  padding: 0;
  list-style-type: none;
}
.seat-row-one::before, .seat-row-one::after{
  color: #999;
  content: "1";
}
.seat-row-two::before, .seat-row-two::after{
  color: #999;
  content: "2";
}
.seat-row-three::before, .seat-row-three::after{
  color: #999;
  content: "3";
}
.seat-row-four::before, .seat-row-four::after{
  color: #999;
  content: "4";
}
.seat-row:not(:last-child){
  margin: 10px 0;
}
.seat-span{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: #256fdd;
}
.seat-span::before{
  position: absolute;
  width: 35px;
  height: 35px;
  border: 1px solid #256fdd;
  border-radius: 50%;
  content: "";
  opacity: 0;
  transition: opacity 0.3s ease;
}
.seat-span.green-span{
  background-color: #4ee774;
}
.seat-span.green-span::before{
  border: 1px solid #4ee774;
}
.column-number{
  display: inline-block;
  font-size: 14px;
  opacity: 0;
  transition: opacity 0.3s ease;
}
.seat-label:hover .column-number{
  opacity: 1;
}
.seat-label:hover .seat-span::before{
  opacity: 1;
}
.seat-checkbox:active + .seat-span .column-number, 
.seat-checkbox:focus + .seat-span .column-number, 
.seat-checkbox:checked + .seat-span .column-number {
  opacity: 1;
}
.seat-checkbox:checked + .seat-span::before{
  opacity: 1;
}
/* End of form main */